/* HomePage.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-top: 50px;
}

h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.laughing-stock {
    margin-top: 10px;
    margin-bottom: 50px
}

.welcome {
    margin-bottom: 10px;
    font-size: 35px;
}


.fin-ai{
    margin-bottom: 0%;
}

.pt2{
    margin-top: 0%;
    margin-bottom: 20px;
}
h2 {
    font-size: 30px;
    color: #333;
    margin-bottom: 0px;
    text-align: center;
    width: 80%;
}

img {
    width: 500px;
    height: auto;
    margin-bottom: 20px;
}

button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a0459d;
}

.pink { color: #e26da0; }
.orange { color: #f79733; }
.purple { color: #7c5fdd; }
.blue { color: #3a91f7; }
.green { color: #3db85d; }

.login { 
    color: white;
    background-color: #e26da0;
    padding: 10px 30px;
 }
 
 .signup { 
    color: white;
    background-color: #f79733;
 }